@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .address-list {
    flex-direction: row;
  }

  .nav-link {
    transition: color 250ms var(--transition);
  }

  .address-item {
    font-size: 16px;
    line-height: 1.5;
  }

  .address-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .phone-item {
    margin-left: 40px;
  }

  .current::after {
    bottom: -2px;
  }

  .hero .container {
    padding: 188px;
    background-image: var(--l-gra), url('../images/bg-desktop.jpg');
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-desktop@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 228dpi),
    (min-resolution: 3dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-desktop@3x.jpg');
    }
  }

  /*FEATURES*/

  .section {
    padding: 120px;
    padding-top: 120px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-container {
    padding-left: 140px;
    padding-right: 140px;
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 0px;
    justify-content: center;
  }

  .features-item {
    max-width: 264px;
  }

  .features-image {
    width: 264px;
    height: 112px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-item:not(:first-child) {
    margin-left: 24px;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  /*DOING*/

  .doing-container {
    display: flex;
    justify-content: space-between;
  }

  .doing.section {
    padding-top: 0;
  }

  .doing-title {
    text-align: center;
    margin-bottom: 72px;
  }

  .doing-item:not(:first-child) {
    margin-left: 24px;
  }

  .doing-item > img {
    max-width: 360px;
  }

  /*CUSTOMERS*/
  .customer-block {
    width: calc((100% - 120px) / 6);
  }
}
