@media screen and (min-width: 1440px) {
  .container {
    width: 1128px;
  }

  .section {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .address-list {
    flex-direction: row;
  }

  .nav-link {
    transition: color 250ms var(--transition);
  }

  .address-item {
    transition: color 250ms var(--transition);
  }

  .phone-item {
    margin-left: 40px;
  }

  .nav-item:not(:first-child) {
    margin-left: 40px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-button);
  }

  .address-item:hover,
  .address-item:focus {
    color: var(--hover-button);
  }
}

/* .hero .container {
  padding: 188px;
  text-align: center;
  background: var(--main-color);
  background-image: var(--l-gra), url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
} */

/* .hero-title {
  margin: auto;
  font-weight: 700;
  text-align: center;
  width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
} */

/* .hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;

  font-family: inherit;
  background-color: var(--primary-brand);
  color: var(--white-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms var(--transition);
} */

/* .hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-button);
} */
