@media screen and (min-width: 428px) {
  .container {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-button);
  }

  .hero .container {
    padding: 112px 54px;
    text-align: center;
    background: var(--main-color);
    background-image: var(--l-gra), url('../images/bg-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-mob@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 228dpi),
    (min-resolution: 3dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-mob@3x.jpg');
    }
  }

  .hero-title {
    margin: auto;
    font-weight: 700;
    text-align: center;
    width: 320px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--white-color);
  }

  .hero-btn {
    padding: 16px 32px;
    border-radius: 4px;
    margin-top: 72px;

    font-family: inherit;
    background-color: var(--primary-brand);
    color: var(--white-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms var(--transition);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--hover-button);
  }

  /*FEATURES*/

  .subtitle {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .features-text {
    margin-top: 8px;
  }

  .features-item {
    width: 100%;
  }

  .features-image {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-items {
    display: none;
  }

  .address-block {
    display: none;
  }

  .address-list {
    display: none;
  }

  .mob-menu-open-icon {
    display: block;
  }

  .mob-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 999;
    background-color: var(--white-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 500ms linear, visibility 500ms linear;
  }

  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mob-menu-container {
    position: relative;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
    padding-right: 35px;
  }

  .mob-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--current-color);
    padding: 8px;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}
