@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mob-menu {
    display: none;
  }

  .mob-menu-open {
    display: none;
  }

  .nav-items {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-and-nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .nav-item:not(:first-child) {
    margin-left: 40px;
  }

  .address-item {
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    transition: color 250ms var(--transition);
  }

  .address-item:hover,
  .address-item:focus {
    color: var(--hover-button);
  }

  .nav-link {
    display: inline-block;
    height: 100%;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .current {
    color: var(--primary-brand);
    position: relative;
  }

  .current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: var(--hover-button);
    border-radius: 2px;
  }

  a.nav-logo {
    margin-right: 76px;
  }

  .container-menu {
    padding-bottom: 0;
  }

  .nav-logo {
    padding-bottom: 24px;
  }

  .nav-link {
    padding-bottom: 22px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 6px;
  }

  .address-block {
    padding-bottom: 12px;
    margin-left: auto;
  }

  /*HERO*/

  .hero .container {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: var(--l-gra), url('../images/bg-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 228dpi),
    (min-resolution: 3dppx) {
    .hero .container {
      background-image: var(--l-gra), url('../images/bg-tablet@3x.jpg');
    }
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-btn {
    margin-top: 40px;
  }

  /*FEATURES*/

  .features-subtitle {
    text-align: left;
  }

  .features-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-item {
    max-width: 356px;
  }

  .features-container > .features-item {
    margin-bottom: 0px;
  }

  /*TEAM*/

  .team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-content {
    padding: 32px 16px;
  }

  /*CUSTOMERS*/

  .customer-block {
    width: 168px;
  }

  .customers-items {
    column-gap: 24px;
  }

  /*FOOTER*/

  .footer-blocks {
    align-items: start;
    padding-left: 108px;
  }

  .footer-content-and-soc {
    display: flex;
    align-items: start;
    height: 100%;
    gap: 24px;
  }

  .footer-content {
    align-items: start;
  }

  .social-footer {
    align-items: start;
  }

  .sub-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .sub-block {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .sub-btn {
    margin-top: 0px;
  }

  .footer-title {
    text-align: start;
  }

  .email {
    width: 264px;
  }

  /*MODAL*/

  .modal {
    min-width: 408px;
  }
}
